## Data Loading

In [12]:
import pandas as pd
import requests
import sqlite3

In [13]:
conn = sqlite3.connect("database.sqlite")
cur = conn.cursor()

In [19]:
cur.execute("""SELECT *
               FROM Matches""")

df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
25,26,D1,2009,2010-04-17,Stuttgart,Leverkusen,2,1,H
26,27,D1,2009,2010-03-20,Dortmund,Leverkusen,3,0,H
27,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
28,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
29,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
...,...,...,...,...,...,...,...,...,...
24595,46745,E0,2016,2017-05-06,Swansea,Everton,1,0,H
24596,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
24597,46747,E0,2016,2017-05-07,Liverpool,Southampton,0,0,D
24598,46748,E0,2016,2017-05-08,Chelsea,Middlesbrough,3,0,H
24599,46749,E0,2016,2017-05-10,Southampton,Arsenal,0,2,A
24600,46750,E0,2016,2017-05-12,Everton,Watford,1,0,H
24601,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
24602,46752,E0,2016,2017-05-13,Bournemouth,Burnley,2,1,H
24603,46753,E0,2016,2017-05-13,Man City,Leicester,2,1,H
24604,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
24605,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
24606,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
24607,46757,E0,2016,2017-05-14,Crystal Palace,Hull,4,0,H
24608,46758,E0,2016,2017-05-14,Tottenham,Man United,2,1,H
24609,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
24610,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
24611,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
24612,46762,E0,2016,2017-05-16,Man City,West Brom,3,1,H
24613,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
24614,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
24615,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H
24616,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
24617,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
24618,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
24619,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

In [16]:
cur.execute("""SELECT *
               FROM Teams""")

df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271
5,2017,M'gladbach,31,25,17,154400000,4980000,54014
6,2017,Wolfsburg,31,24,14,124430000,4010000,30000
7,2017,FC Koln,24,26,9,118550000,4940000,49968
8,2017,Hoffenheim,31,24,14,107330000,3460000,30164
9,2017,Hertha,26,26,12,86800000,3340000,74475
10,2017,Mainz,31,25,16,71950000,2320000,34000
11,2017,Hamburg,31,25,15,71550000,2310000,57376
12,2017,Werder Bremen,32,26,19,69450000,2170000,42100
13,2017,Ein Frankfurt,34,24,18,67100000,1970000,51500
14,2017,Augsburg,36,26,20,63100000,1750000,30660
15,2017,Freiburg,26,26,8,57730000,2220000,24000
16,2017,Stuttgart,24,24,16,44750000,1860000,60449
17,2017,Hannover,31,25,13,43100000,1390000,49200
18,2016,Bayern Munich,33,25,18,595400000,18040000,75000
19,2016,Dortmund,32,24,17,321550000,10050000,81359
20,2016,Leverkusen,39,23,21,244580000,6270000,30210
21,2016,Schalke 04,39,24,22,238750000,6120000,62271
22,2016,Wolfsburg,43,24,21,225350000,5240000,30000
23,2016,M'gladbach,33,23,15,155800000,4720000,54014
24,2016,Hamburg,38,24,19,94980000,2500000,57376
25,2016,Mainz,39,23,22,85700000,2200000,34000
26,2016,FC Koln,30,24,13,77400000,2580000,49968
27,2016,Hoffenheim,33,24,15,76550000,2320000,30164
28,2016,Hertha,33,24,14,75980000,2300000,74475
29,2016,Werder Bremen,41,25,19,75080000,1830000,42100
...,...,...,...,...,...,...,...,...
438,2006,Greuther Furth,29,24,14,12780000,441000,47728
439,2006,CZ Jena,37,25,11,12380000,334000,47728
440,2006,Munich 1860,26,24,11,11550000,444000,47728
441,2006,RW Essen,27,26,11,11050000,409000,47728
442,2006,Burghausen,28,25,13,11030000,394000,47728
443,2006,Erzgebirge Aue,26,27,11,10900000,419000,47728
444,2006,Offenbach,30,27,9,10530000,351000,47728
445,2006,Paderborn,28,25,12,10450000,373000,47728
446,2006,Unterhaching,31,26,12,9680000,312000,47728
447,2006,Braunschweig,38,26,14,9550000,251000,47728
448,2006,Augsburg,25,27,7,9100000,364000,47728
449,2006,Koblenz,28,26,11,8290000,296000,47728
450,2005,Munich 1860,31,25,15,22480000,725000,47728
451,2005,Bochum,31,25,16,17830000,575000,47728
452,2005,Hansa Rostock,31,25,12,15800000,510000,47728
453,2005,Freiburg,25,24,14,15150000,606000,47728
454,2005,Aachen,25,27,6,11690000,467000,47728
455,2005,Dresden,33,26,13,10750000,326000,47728
456,2005,Karlsruhe,27,25,7,10000000,370000,47728
457,2005,Greuther Furth,30,25,14,9900000,330000,47728
458,2005,Saarbrucken,31,26,15,8580000,277000,47728
459,2005,Ahlen,24,28,9,8580000,357000,47728
460,2005,Cottbus,26,25,12,8550000,329000,47728
461,2005,Erzgebirge Aue,25,27,8,8380000,335000,47728
462,2005,Burghausen,28,25,9,7550000,270000,47728
463,2005,Paderborn,33,24,13,7530000,228000,47728
464,2005,Unterhaching,28,26,9,7030000,251000,47728
465,2005,Offenbach,28,26,13,6280000,224000,47728
466,2005,Siegen,29,26,13,6180000,213000,47728
467,2005,Braunschweig,25,25,3,4150000,166000,47728

In [17]:
cur.execute("""SELECT *
               FROM Teams_in_Matches""")

df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

       Match_ID  Unique_Team_ID
0             1              26
1             1              46
2             2              26
3             2              42
4             3              26
5             3              44
6             4              29
7             4              44
8             5              29
9             5              49
10            6              29
11            6              35
12            7              21
13            7              29
14            8              29
15            8              30
16            9              26
17            9              29
18           10              29
19           10              33
20           11              24
21           11              29
22           12              29
23           12              48
24           13              29
25           13              46
26           14              29
27           14              31
28           15              29
29           15              32
...         ...             ...
49118     46760              83
49119     46760             112
49120     46761              81
49121     46761             109
49122     46762              85
49123     46762             117
49124     46763              89
49125     46763              99
49126     46764              92
49127     46764             104
49128     46765              81
49129     46765              93
49130     46766              90
49131     46766             124
49132     46767              83
49133     46767             109
49134     46768              92
49135     46768             122
49136     46769             104
49137     46769             128
49138     46770              84
49139     46770             107
49140     46771              99
49141     46771             103
49142     46772              89
49143     46772             123
49144     46773             117
49145     46773             126
49146     46774              85
49147     46774             112

[49148 rows x 2 columns]

In [18]:
cur.execute("""SELECT *
               FROM Unique_Teams""")

df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

               TeamName  Unique_Team_ID
0         Bayern Munich               1
1              Dortmund               2
2            Leverkusen               3
3            RB Leipzig               4
4            Schalke 04               5
5            M'gladbach               6
6             Wolfsburg               7
7               FC Koln               8
8            Hoffenheim               9
9                Hertha              10
10                Mainz              11
11              Hamburg              12
12        Werder Bremen              13
13        Ein Frankfurt              14
14             Augsburg              15
15             Freiburg              16
16            Stuttgart              17
17             Hannover              18
18           Ingolstadt              19
19            Darmstadt              20
20            Paderborn              21
21             Nurnberg              22
22         Braunschweig              23
23       Greuther Furth              24
24   Fortuna Dusseldorf              25
25       Kaiserslautern              26
26             St Pauli              27
27               Bochum              28
28            Karlsruhe              29
29            Bielefeld              30
..                  ...             ...
98           Man United              99
99                  QPR             100
100      Sheffield Weds             101
101             Swindon             102
102      Crystal Palace             103
103           Leicester             104
104       Nott'm Forest             105
105              Bolton             106
106       Middlesbrough             107
107               Derby             108
108          Sunderland             109
109            Barnsley             110
110            Charlton             111
111             Watford             112
112            Bradford             113
113              Fulham             114
114          Birmingham             115
115         Middlesboro             116
116           West Brom             117
117          Portsmouth             118
118              Wolves             119
119               Wigan             120
120             Reading             121
121                Hull             122
122               Stoke             123
123             Burnley             124
124           Blackpool             125
125             Swansea             126
126             Cardiff             127
127         Bournemouth             128

[128 rows x 2 columns]

## EDA